@font-face {
	font-family: 'Eurostile';
	src: url('/fonts/EurostileBold.woff2') format('woff2'), url('/fonts/EurostileBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Eurostile';
	src: url('/fonts/EurostileRegular.woff2') format('woff2'), url('/fonts/EurostileRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Eurostile', arial;
	font-weight: bold;
	font-style: normal;
}

.background-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.bg-image {
	background: url(/images/background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	
}

video {
	width: 100% !important;
	height: auto !important;
}

.bottom-centered {
	position: inherit;
	bottom: 10px;
	left: 0;
}

.top-centered {
	position: inherit;
	top: 30px;
	left: 0;
}

.navbar-toggler {
	font-size: 3.25rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



/* FOR CANVAS WHITEBOARD */
.whiteboard .transparent-canvas {
	background-color: rgba(255, 255, 255, 0.5);
}
.whiteboard canvas {
	width: 100%;
	height: 100%;
}
.whiteboard .canvas-container{
	position: relative;
	z-index: 600;
	height: 100%;
	width: 100%;
}
.whiteboard #canvas-1 {
	position: relative;
	z-index: 700;
}
.whiteboard-button {
	position:absolute;
	left:0.5%;
	top:1%;
	z-index: 800;
	width: 1%;
	display: block;

	
}
.whiteboard .modal-dialog {
	max-width: 95%;
	width: 95%;
	max-height: 90%;
	height: 90%;
	margin: 10px auto;
}
.whiteboard .modal-content {
	background: none;
	border-radius: 0px;
	border: none;
	width:  100%;
	height: 100%;
}

.whiteboard-close {
	z-index: 900; 
	border-top-left-radius: 100%!important;
	border-radius: 0px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.whiteboard-open {
	z-index: 900; 
	border-top-right-radius: 100%!important;
	border-radius: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
